.sncb table td {
    border-bottom-color: inherit;
}

.sncb table tr:nth-child(even) {
    border-bottom-color: #abc8e2;
    background-color: #abc8e2;
    color: #135
}

.sncb table tr:nth-child(odd) {
    border-bottom-color: #5F8CA3;
    background-color: #5F8CA3;
    color: white
}
.sncb table td:nth-child(4) {
    color: #DB2218;
}
.sncb table th {
    background-color: white;
    color: #135;
}
